<div class="d-flex align-items-start justify-content-center pb-1">
  <h2 class="">Add Tap</h2>
</div>


<div class="tl-cardRadio switch-padding-bottom">
  <mat-radio-group aria-label="Select an option" formControlName="cardType">
    <mat-radio-button value="0" (click)="selectCardType(0)" class="pr-3">EMV</mat-radio-button>
    <mat-radio-button value="1" (click)="selectCardType(1)">Go Card</mat-radio-button>
  </mat-radio-group>
</div>


<div> 
  <form (ngSubmit)="onSubmit()" [formGroup]="addTapForm" class="tap-log-grid-container bg-raised">

    <!-- <div class="tl-cardRadio">
      <mat-radio-group aria-label="Select an option" formControlName="cardType">
        <mat-radio-button value="0" (click)="selectCardType(0)" class="pr-3">EMV</mat-radio-button>
        <mat-radio-button value="1" (click)="selectCardType(1)">Go Card</mat-radio-button>
      </mat-radio-group>
    </div> -->

    <div class="tl-card">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Card</mat-label>
        <mat-select formControlName="card" required>
          <mat-option *ngFor="let c of cardList" [value]="c.id">
            {{c.number}} - {{c.alias}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="tl-device">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Device</mat-label>
        <mat-select formControlName="device" required>
          <mat-option *ngFor="let d of deviceList" [value]="d.id" style="width: 100%;">
            {{d.code}} - {{d.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="tl-result">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Result</mat-label>
        <mat-select formControlName="result" required>
          <mat-option value="0">Successful</mat-option>
          <mat-option value="1">Unsuccessful</mat-option>
          <mat-option value="2">Nothing</mat-option>
          <mat-option value="3">Other</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="tl-expectation">
      <mat-button-toggle-group #group="matButtonToggleGroup"  formControlName="expectedResult" required>
        <mat-button-toggle value="0" aria-label="Expected">
          <mat-icon>thumb_up</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="1" aria-label="Unexpected">
          <mat-icon>thumb_down</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="2" aria-label="Unsure">
          <mat-icon>thumbs_up_down</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>


    <div class="tl-time">
        <timepicker formControlName="time" [showMeridian]="false" 
        [showSeconds]="true" [hourStep]="1" 
        [minuteStep]="1" [secondsStep]="1" >
      </timepicker>
    </div>
      
    <div class="tl-date">
      <input type="text" placeholder="Datepicker" formControlName="date" bsDatepicker [bsConfig]="{ adaptivePosition: true }"/>
    </div>


    <div class="tl-fare">
      <mat-form-field class="example-full-width"  appearance="outline" >
        <mat-label>Fare</mat-label>
        <input matInput type="number" placeholder="e.g 2.7" formControlName="fare">
      </mat-form-field>
    </div>

    <div class="tl-before">
      <mat-form-field class="example-full-width"  appearance="outline">
        <mat-label>Balance before</mat-label>
        <input matInput type="number" placeholder="e.g 32.10" formControlName="balanceBefore">
      </mat-form-field>
    </div>

    <div class="tl-after">
      <mat-form-field class="example-full-width"  appearance="outline" >
        <mat-label>Balance after</mat-label>
        <input matInput type="number" placeholder="e.g 29.40" formControlName="balanceAfter">
      </mat-form-field>
    </div>

    <div class="tl-notes">
      <mat-form-field class="example-full-width"  appearance="outline">
        <mat-label>Notes</mat-label>
        <textarea matInput type="text" matTextareaAutosize matAutosizeMinRows=9 matAutosizeMaxRows=10></textarea>
      </mat-form-field>
    </div>

    <div class="tl-save">
      <button mat-raised-button color="primary" type="submit" [disabled]="!this.addTapForm.valid">Save Tap</button>
    </div>

  </form>

</div>