<!-- HEADING -->
<div class="d-flex align-items-start" *ngIf="(lists$ | async) == null" [@fadeInOut]>
  <h2 class="pt-1">Test Executions</h2>
</div>

<!-- CONTAINER FOR EXECUTIONS -->
<div *ngIf="(lists$ | async) != null" [@fadeInOut]>

  <!-- HEADING -->
  <h2 class="pt-1">Jira: {{selectedTest?.jiraTestNumber}}</h2>

  <!-- TOGGLE BUTTON ROW -->
  <div class="action-buttons justify-content-between d-flex flex-row">
    <mat-slide-toggle [checked]="isChecked" (change)="makeListEditable($event)" [disabled]="isDisabled">
    </mat-slide-toggle>
    <div *ngIf="selectedTest && isChecked" [@fadeInOut]>
      <button mat-mini-fab color="warn" *ngIf="this.selectedExecutionId" [@fadeInOut]
        class="menuSmallButton trashButton" (click)="deleteExecution(this.selectedExecutionId)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-mini-fab color="primary" class="menuSmallButton addListItemButton" (click)="createExecution()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <!-- LIST OF EXECUTIONS -->
  <mat-selection-list #tests [multiple]="false">
    <mat-list-option *ngFor="let execution of (lists$ | async)" [value]="execution"
      (click)="selectExecution(execution)">

      <p matLine *ngIf="!(execution?.taps?.length > 0)">
        Add first tap
      </p>

      <ng-container *ngIf="(execution?.taps?.length > 0)">
        <p matLine>
          <span> {{execution?.taps[0]?.timeOf | date: 'EEEE' }} </span>
          <span class="float-right ml-2"> {{execution?.taps[0]?.timeOf | date: 'HH:mm:ss' }} </span>
        </p>
        <div class="d-flex flex-row justify-content-between align-items-end">
          <p matLine> {{execution?.taps[0]?.timeOf | date: 'dd/MM' }} </p>
        </div>
      </ng-container>
      <mat-divider></mat-divider>
    </mat-list-option>
  </mat-selection-list>
</div>

<!-- DEBUG -->
<div *ngIf="debug">
  <p>lists$: {{(lists$ | async) | json}}</p>
  <p>selectedTestId: {{selectedTestId | json}}</p>
  <p>selectedStageId: {{selectedStageId | json}}</p>
  <p>selectedTest {{selectedTest | json}}</p>
  <p>selectedExecutionId: {{selectedExecutionId | json}}</p>
</div>