<div class="tap-grid-container">
  <div class="tlheader">
  </div>
  <div class="tlstage">
    <!-- <app-spisok-faz  (select)="selectStage($event)" [stagesState]="stages$ | async"></app-spisok-faz> -->
    <app-spisok-faz></app-spisok-faz>
  </div>
  <div class="tltest">
    <!-- <app-spisok-testov (select)="selectTest($event)" [testsState]="tests$ | async"></app-spisok-testov> -->
    <app-spisok-testov></app-spisok-testov>
  </div>
  <div class="tlexecutions">
    <!-- <app-spisok-kazney (select)="selectExecution($event)" [executionsState]="executions$ | async"></app-spisok-kazney> -->
    <app-spisok-kazney></app-spisok-kazney>
  </div>
  <div class="tlcurrent">
    <app-spisok-sobytiy></app-spisok-sobytiy>
  </div>
  <div class="tladd">
    <!-- <app-log-tap (onSave)="selectExecution($event)" [selectedExecution]="selectedExecution"></app-log-tap> -->
    <app-zapis-sobytiy></app-zapis-sobytiy>
  </div>
</div>
