<div *ngIf="testList != null" [@fadeInOut]>

  <div class="clearfix">
    <h2 class="float-left pt-1">Test List</h2>
    <button class="btn btn-default float-" title="Add List"
      (click)="showAddTestModal(addTestModalTemplate)">
      <fa-icon size="lg" [icon]="faPlusSquare" style="color: #ffd740;"></fa-icon>
    </button>
  </div>

  <mat-selection-list #tests [multiple]="false">
    <mat-list-option *ngFor="let test of testList" [value]="test" (click)="select(test.id)"> 
      {{test.jiraTestNumber}}
      <mat-divider></mat-divider>
    </mat-list-option>
  </mat-selection-list>

</div>

<ng-template #addTestModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">New Test</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="addTestCancelled()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="title">Jira Test Number</label>
      <input type="text" class="form-control" id="title" placeholder="Test title..." [(ngModel)]="addTestEditor.title"
        [ngClass]="{ 'is-invalid': addTestEditor.error }" (keyup.enter)="persistTest()" />
      <div *ngIf="addTestEditor.error" class="invalid-feedback">
        {{ addTestEditor.error }}
      </div>
    </div>
    <div *ngIf="debug">
      <pre>{{ addTestEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button class="btn btn-default" (click)="addTestCancelled()">Cancel</button>
      <button class="btn btn-primary" (click)="persistTest()">Create</button>
    </div>
  </div>
</ng-template>
