.tap-grid-container {
    display: grid;
    padding: 1em;
    grid-template-columns: 13.5em 13.5em auto;
    grid-template-rows: 4em 3em 40em auto;
    gap: 5px 10px;
    grid-template-areas: 
    "stage header header" 
    "test executions add" 
    "test executions add"
    "test executions current"
}
.tlheader {
    grid-area: header;
}
.tlstage {
    grid-area: stage;
}
.tltest {
    grid-area: test;
}
.tlexecutions {
    grid-area: executions;
}
.tlcurrent {
    grid-area: current;
}
.tladd {
    grid-area: add;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1300px and up) */
@media only screen and (min-width: 1400px) {
    .tap-grid-container {
        display: grid;
        grid-template-columns: 13.5em 13.5em 35em auto;
        grid-template-rows: 4em 3em 50em auto;
        gap: 5px 50px;
        grid-template-areas: 
        "stage header header header" 
        "test executions add current" 
        "test executions add current"
        "test executions . ."
    }
}