<p>
  uchet works!
</p>
<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <mat-text-column *ngFor="let col of columnList;" name={{col}}></mat-text-column>
  <mat-text-column  name="Edit">
    <button mat-mini-fab disabled>
      <mat-icon>home</mat-icon>
    </button>
  </mat-text-column>

  <tr mat-header-row *matHeaderRowDef="columnList"></tr>
  <tr mat-row *matRowDef="let row; columns: columnList;"></tr>
</table> -->

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" *ngFor="let column of wanted">{{column}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of dataSource;">
      <td *ngFor="let cell of row">{{cell.value}}</td>
      <td>    
        <button mat-mini-fab color="accent">
          <mat-icon>home</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>