<mat-sidenav-container>
  
  <mat-sidenav #sidenav mode="side" opened [fixedTopGap]="52" [fixedInViewport]="true">
    <mat-selection-list #entity [multiple]="false">
      <mat-list-option *ngFor="let section of sections; last as last" [value]="section">
        <mat-icon mat-list-icon>{{section.icon}}</mat-icon>
        <h4 mat-line>{{section.title}}</h4>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <app-admin-etap></app-admin-etap>
    <p>
      Option selected: {{entity.selectedOptions.selected[0]?.value.title}}
    </p>
    <app-admin-skhema></app-admin-skhema>
    <p>
      Option selected: {{entity.selectedOptions.selected[0]?.value.title}}
    </p>
    <app-admin-bumaga></app-admin-bumaga>
    <p>
      Option selected: {{entity.selectedOptions.selected[0]?.value.title}}
    </p>
    <app-admin-tovar></app-admin-tovar>
    <p>
      Option selected: {{entity.selectedOptions.selected[0]?.value.title}}
    </p>
    <app-admin-ustroystvo></app-admin-ustroystvo>
  </mat-sidenav-content>

</mat-sidenav-container>

