.example-full-width {
  width: 100%;
}

.tap-log-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 120px;
  grid-template-rows: min-content min-content min-content min-content min-content 3em 3em;
  gap: 3px 1em;
  grid-template-areas:
    /* "cardRadio empty"
    "1card 1fare"
    "1action 1before"
    "1device 1after"
    "1result 1notes"
    "1expectation 1notes"
    "1time 1passProduct"
    "1date 1passProduct"
    "save save"
     */
    "cardRadio . ."
    "card . before"
    "action result fare "
    "device expectation after "
    "notes time passProduct"
    "notes date passProduct"
    ". save ."
}

.tl-empty {
  grid-area: cardRadio;
  /* background-color: rgba(0, 0, 0, 0.829); */
}

.tl-passProduct {
  grid-area: passProduct;
}

.tl-cardRadio {
  grid-area: cardRadio;
  /* background-color: rgba(104, 151, 28, 0.829); */
}

.tl-card {
  grid-area: card;
  /* background-color: rgba(104, 151, 28, 0.541); */
  /* display: flex;
    flex: auto; */
}

.tl-action {
  grid-area: action;
  /* background-color: rgba(101, 111, 128, 0.141); */
  /* display: flex;
    flex: auto; */
}

.tl-fare {
  grid-area: fare;
  /* background-color: rgb(157, 255, 0); */
}

.tl-device {
  grid-area: device;
  /* background-color: rgba(30, 28, 151, 0.884); */
}

.tl-before {
  grid-area: before;
  /* background-color: rgba(28, 30, 151, 0.477); */
}

.tl-result {
  grid-area: result;
  /* background-color: rgba(28, 36, 151, 0.199); */
}

.tl-after {
  grid-area: after;
  /* background-color: rgba(151, 53, 28, 0.863); */
}

.tl-expectation {
  grid-area: expectation;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* background-color: rgba(151, 63, 28, 0.479); */
}

.tl-notes {
  grid-area: notes;
  /* background-color: rgba(151, 63, 28, 0.212); */
}

.tl-time {
  grid-area: time;
  /* background-color: rgba(30, 221, 255, 0.863); */
  padding: 5px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.tl-date {
  grid-area: date;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* background-color: rgb(255, 255, 255); */
}

.tl-save {
  grid-area: save;
  /* background-color: rgba(214, 255, 30, 0.203); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-raised {
  background-color: white;
  border-color: black;
  border-width: 1px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
}

.switch-padding-bottom {
  padding-bottom: 6px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
  .tap-log-grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Extra large devices (large laptops and desktops, 1300px and up) */
@media only screen and (min-width: 1400px) {
  .tap-log-grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content 3em 3em;
    gap: 3px 1em;
    grid-template-areas:
      "cardRadio empty"
      "card fare"
      "action before"
      "device after"
      "result notes"
      "expectation notes"
      "time passProduct"
      "date passProduct"
      "save save"
  }
}