<div class="d-flex align-items-start justify-content-center" *ngIf="selectedTest == null" [@fadeInOut]>
  <h2 class="pt-1">Test Executions</h2>
</div>
<div *ngIf="selectedTest != null" [@fadeInOut]>
  <div class="d-flex align-items-start justify-content-center">
    <h2 class="pt-1">Jira: {{testDeatil?.jiraTestNumber}}</h2>
    <button class="btn btn-default float-right" title="Add Execution"
      (click)="createExecution()">
      <fa-icon size="lg" [icon]="faPlusSquare" style="color: #ffd740;"></fa-icon>
    </button>
  </div>
  
  <!-- <div class="d-flex justify-content-around " >   
      <ul class="list-group">
        <li *ngFor="let execution of testExecutions; index as i" class="list-group-item mb-2" 
          [ngClass]="{ 'active': selectedExecution == execution }" (click)="select(execution)">
          <div>
            <div *ngIf="execution?.taps[0]?.id === null" class="d-flex">
              <p>Add first tap</p>
            </div>
            <p *ngIf="execution?.taps[0]?.id > 0">{{execution?.taps[0]?.timeOf | date: 'EEEE' }}</p>
            <p *ngIf="execution?.taps[0]?.id > 0">{{execution?.taps[0]?.timeOf | date: 'dd/MM hh:mm:ss' }}</p>
          </div>
        </li>
      </ul>
  </div> -->
  
  <mat-selection-list #tests [multiple]="false">
    <mat-list-option *ngFor="let execution of testExecutions" [value]="execution" (click)="select(execution)"> 
      
      <h3 matLine *ngIf="execution?.taps[0]?.id === null"> Add first tap </h3>
      <p matLine>
        <span> {{execution?.taps[0]?.timeOf | date: 'EEEE' }} </span>
        <span class="float-right"> {{execution?.taps[0]?.timeOf | date: 'hh:mm:ss' }}  </span>
      </p>
      <p matLine> {{execution?.taps[0]?.timeOf | date: 'dd/MM' }} </p>
      <mat-divider></mat-divider>
    </mat-list-option>
    
  </mat-selection-list>

</div>