<div class="text-center">
  <h2 *ngIf="testDeatil?.jiraTestNumber" >Jira: {{testDeatil?.jiraTestNumber}}</h2> 
</div>

<div class="text-center p-2">
  <button type="button" class="btn btn-success">Execute Test</button>
</div>

<div class="d-flex justify-content-around " >   
  <div class="card-body">
    <ul class="list-group">
      <li *ngFor="let execution of testExecutions; index as i" class="list-group-item"
        [ngClass]="{ 'active': selectedExecution == execution }" (click)="selectExecution(execution)">
        <div class="clearfix">
          <div class="float-left text-center">
            <p *ngIf="execution?.taps[0]?.id === null">No taps yet</p>
            <p *ngIf="execution?.taps[0]?.id !== null">{{execution?.taps[0]?.timeOf | date: 'dd/MM/yy hh:mm:ss' }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
