<div class="d-inline-flex flex-column">
  <div class="pb-3 d-flex justify-content-between">
    <button mat-raised-button (click)="refresh()">Refresh</button>
    <button mat-raised-button color="primary" (click)="openModal(null, entityModalTemplate)">Create New Pass</button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let pass"> {{pass.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let pass"> {{pass.name}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let pass">
        <button mat-icon-button color="accent" type="button" (click)="openModal(pass, entityModalTemplate)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let pass">
        <button mat-icon-button color="warn" type="button" (click)="openDeleteModal(pass, deleteModalTemplate)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnList"></tr>
    <tr mat-row *matRowDef="let row; columns: columnList;"></tr>
  </table>
</div>



<ng-template #entityModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">{{modalEditor.title}}</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form [formGroup]="entityForm" (ngSubmit)="submit()">
    <div class="d-flex flex-column p-5">
      <mat-form-field appearance="outline" *ngIf="entityForm.get('id').value !== null">
        <mat-label>Pass Id</mat-label>
        <input matInput [formControl]="entityForm.controls['id']">
        <mat-error *ngIf="entityForm.controls['id'].hasError('required')">Please enter a value.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Pass Name</mat-label>
        <input matInput [formControl]="entityForm.controls['name']">
        <mat-error *ngIf="entityForm.controls['name'].hasError('badformat')">Please enter a value in the correct format.</mat-error>
        <mat-error *ngIf="entityForm.controls['name'].hasError('required')">Please enter a value.</mat-error>
        <mat-error *ngIf="entityForm.controls['name'].hasError('minlength')">Name must be atleast 1 character.</mat-error>
        <mat-error *ngIf="entityForm.controls['name'].hasError('maxlength')">Name must be at most 32 character.</mat-error>
      </mat-form-field>

      <div *ngIf="debug">
        <pre *ngIf="modalEditor.errors != null">{{ modalEditor.errors | json }}</pre>
      </div>
    </div>

    <div class="modal-footer">
      <div class="text-right">
        <button class="btn btn-default" type="button" (click)="closeModal()">Cancel</button>
        <button class="btn btn-primary" type="submit" [disabled]="entityForm.invalid">{{modalEditor.button}}</button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #deleteModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">{{modalEditor.title}}</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form>
    <div class="d-flex flex-column p-5">
      <p>Are you sure you want to delete the pass?</p>
      <p>This action can not be undone.</p>
      <p>Taps that have the pass will continue to have the pass name.</p>

      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [formControl]="entityForm.controls['name']">
        <mat-hint>Enter the name of the pass to delete.</mat-hint>
        <mat-error *ngIf="entityForm.controls['name'].hasError('required')">Name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="entityForm.controls['name'].hasError('mismatch')">Name does not <strong>match</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="modal-footer">
      <div class="text-right">
        <button class="btn btn-default" type="button" (click)="closeModal()">Cancel</button>
        <button class="btn btn-warning" type="button" (click)="deleteEntity()">{{modalEditor.button}}</button>
      </div>
    </div>
  </form>
</ng-template>