<!-- 
<div class="container">
  <div class="row h-100 justify-content-center align-items-center">
    <h1>TAPLOG</h1> 
  </div>
</div>
-->
<div class="resetthis">
  <div class="tap-grid-container">
    <div class="header">
      Header
    </div>
    <div class="tlstage">
      Stage
    </div>
    <div class="tlexecute">
      Execute
    </div>
    <div class="tltitle">
      Title
    </div>
    <div class="tltest">
      Test
    </div>
    <div class="tlexecutions">
      Executions
    </div>
    <div class="tlcurrent">
      Current
    </div>
    <div class="tladd">
      Add
    </div>
  </div>

</div>