<div class="d-flex align-items-center justify-content-center" style="height: 94vh;">
  <div>
    <div style="text-align: center;" class="font-weight-bolder">
      <h1>
        Welcome
      </h1>
    </div>
    <div>
      <button mat-raised-button color="accent" [routerLink]="['exporter']">Query</button>
      <button mat-raised-button color="primary" class="mr-2 ml-2" [routerLink]="['logger3']">Logger</button>
      <button mat-raised-button color="warn" [routerLink]="['admin']">Admin</button>
    </div>
    <p style="margin-top: 1rem;">Username: administrator@localhost</p>
    <p>Password: Administrator1!</p>
  </div>
</div>
