/* .resetthis {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    border: 10px solid #14a76c;
} */
.tap-grid-container {
    display: grid;
    grid-template-columns: 12em 12em 42em auto;
    grid-template-rows: 4em 4em 30em 1fr;
    gap: 5px 5px;
    grid-template-areas: 
    "header header header header" 
    "stage . add title" 
    "test executions add current"
    "test executions . current"
}
.tlheader {
    grid-area: header;
    background-color: rgb(122, 122, 122);
}
.tlstage {
    grid-area: stage;
}
.tlexecute {
    grid-area: execute;
    background-color: green;
}
.tltitle {
    grid-area: title;
    background-color: rgb(255, 238, 0);
}
.tltest {
    grid-area: test;
}
.tlexecutions {
    grid-area: executions;
}
.tlcurrent {
    grid-area: current;
    background-color: rgb(50, 28, 151);
}
.tladd {
    grid-area: add;
}