/* .resetthis {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    border: 10px solid #14a76c;
} */
.tap-grid-container {
    display: grid;
    grid-template-columns: 12em 12em 35em auto;
    grid-template-rows: 4em 3em auto auto;
    gap: 5px 5px;
    grid-template-areas: 
    "stage header header header" 
    "test executions  add ." 
    "test executions add current"
    "test executions  . current"
}
.tlheader {
    grid-area: header;
    /* background-color: #dff9fb; */
}
.tlstage {
    grid-area: stage;
}
.tlexecute {
    grid-area: execute;
}
.tltitle {
    grid-area: title;
}
.tltest {
    grid-area: test;
}
.tlexecutions {
    grid-area: executions;
}
.tlcurrent {
    grid-area: current;
}
.tladd {
    grid-area: add;
}