<p *ngIf="!stageList"><em>Loading...</em></p>

<div class="row">
  <div class="col-sm-2 p-5" >
    <div *ngIf="stageList">
      <!-- class="clearfix" -->
      <div>
        <h2 class="float-left">Stage Lists</h2>

      </div>
      <div class="d-flex"  style="min-width: 200px;">
        <select class="custom-select">
            <option *ngFor="let stage of stageList" [value]="stage.id">
              {{stage.name}}
            </option>
        </select>
      </div>

      <div *ngIf="testList" class="pt-3" style="min-width: 200px;">
        <div class="clearfix"><!--  -->
          <h2 class="float-left">Test List</h2>
          <button class="btn btn-default float-right" title="Add List..."
            (click)="showNewTestModal(newTestModalTemplate)">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
        </div>
        <ul class="list-group d-flex">
          <li *ngFor="let test of testList; index as i" class="list-group-item"
            [ngClass]="{ 'active': selectedTest == test }" (click)="selectTest(test)">
            <div><!-- class="clearfix" -->
              <div class="float-left">
                  {{ test.jiraTestNumber }}
              </div>
              <div class="float-right text-right">
                  <span class="badge badge-light">{{ test.id }}</span>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
  
  <div *ngIf="testDeatils" class="ml-5 mt-5" style="min-width: 18rem;">
    <div class="card mt-5 d-flex justify-content-around " > 
      <div class="card-header">
        <p>
          <strong>Jira: </strong> 
          {{testDeatils.jiraTestNumber}}
        </p>
      </div>
      <div class="card-body text-primary text-center">
        <button type="button" class="btn btn-success">Execute Test</button>
      </div>
      <div class="card-footer">
        <ul class="list-group">
          <li *ngFor="let execution of testExecutions; index as i" class="list-group-item"
            [ngClass]="{ 'active': selectedExecution == execution }" (click)="selectExecution(execution)">
            <div class="clearfix">
              <div class="float-left text-center">
                <p *ngIf="execution.taps[0]?.id === null">No taps yet</p>
                <p *ngIf="execution.taps[0]?.id !== null">Ex: {{execution.taps[0]?.timeOf | date: 'dd/MM/yy hh:mm:ss' }}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div *ngIf="selectedExecution" class="ml-5 mt-5 container"  style="width: 700px;">
    <div class="card d-flex"> 
      <div class="card-header">
        <h3 class="text-center justify-content-center">ADD TAP</h3> 
      </div>

      <div>
        <form (ngSubmit)="onSubmit()" [formGroup]="addTapForm" class="row m-3 justify-content-between">
          
          <div class="mr-2" style="width: 400px;">
            <div class="btn-group  mb-2" btnRadioGroup formControlName="cardType">
              <label class="btn btn-info" btnRadio="true"
                    tabindex="0" role="button">EMV</label>
              <label class="btn btn-info" btnRadio="false"
                    tabindex="0" role="button">Go Card</label>
            </div>
          
            <div class="form-group">
              <!-- <label for="card">Card</label> -->
              <select class="form-control" id="card" formControlName="card" required>
                <option *ngFor="let c of cardList" [value]="c.id">{{c.number}} - {{c.alias}}</option>
              </select>
            </div>

            <div class="form-group">
              <!-- <label for="device">Device</label> -->
              <select class="form-control" id="device" formControlName="device">
                <option *ngFor="let d of deviceList" [value]="d.id">{{d.code}} - {{d.name}}</option>
              </select>
            </div>

            <div class="form-group">
              <!-- <label for="result">Result</label> -->
              <select class="form-control" id="result"
              formControlName="result">
              <option value="0">Successful</option>
              <option value="1">Unsuccessful</option>
              <option value="2">Nothing</option>
              <option value="3">Other</option>
            </select>
            </div>

            <div class="btn-group" btnRadioGroup formControlName="expectedResult">
              <label class="btn btn-info" btnRadio="0"
                    tabindex="0" role="button">Yes</label>
              <label class="btn btn-info" btnRadio="1"
                    tabindex="0" role="button">No</label>
              <label class="btn btn-info" btnRadio="2"
                    tabindex="0" role="button">Unsure</label>
              <label class="text-center pl-3">Expected?</label>
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <timepicker formControlName="time" [showMeridian]="false" [showSeconds]="true" [hourStep]="1" [minuteStep]="1" [secondsStep]="1" ></timepicker>


              <div class="form-group">
                <input type="text" class="form-control mt-3" placeholder="Datepicker" bsDatepicker formControlName="date" />
                <!-- <pre *ngIf="myForm.value.date" class="code-preview">{{myForm.value.date | date}}</pre> -->
              </div>

            </div>
            

          </div>

          <div class="pt-6 flex flex-column">
            <div class="form-group">
              <!-- <label for="fare">Fare</label> -->
              <input type="number" class="form-control" id="fare" formControlName="fare" placeholder="Cost of tap">
            </div>
      
            <div class="form-group">
              <!-- <label for="balanceBefore">Balance Before</label> -->
              <input type="number" class="form-control" id="balanceBefore"
                formControlName="balanceBefore" placeholder="Balance before tap">
            </div>
      
            <div class="form-group">
              <!-- <label for="balanceAfter">Balance After</label> -->
              <input type="number" class="form-control" id="balanceAfter"
                formControlName="balanceAfter" placeholder="Balance after tap">
            </div>
      
            <div class="form-group">
              <!-- <label for="notes">Notes</label> -->
              <input type="text" class="form-control" id="notes"
                formControlName="notes" placeholder="Notes">
            </div>

            <div class="d-flex justify-content-center pt-5 mt-4">
              <button type="submit" class="btn btn-success" [disabled]="!this.addTapForm.valid">Save Tap</button>
              <button type="button" (click)="updateTap()">Update Tap</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

  <div *ngIf="selectedExecution" class="mr-5 mt-5" >
    <div *ngFor="let tap of selectedExecution.taps; index as i; trackBy:tap.id; last as isLast" >
      
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h3 class="card-title">{{tap.deviceName}}}</h3>
          <h4 class="card-subtitle mb-2 ">{{tap.timeOf | date:'dd/MM/yy HH:mm:ss'}}</h4>
        </div>
      </div>

      <div *ngIf="!isLast">
        <div style="width: 20rem; padding: 2;">
            <div class="d-flex-column text-center ">
              <div>
                <p>{{(selectedExecution.taps[i+1].timeOf.valueOf() - tap.timeOf.valueOf()) / 1000}}</p>
                <!-- <button mat-icon-button color="accent" aria-label="Example icon-button with a heart icon">
                  <mat-icon>arrow_downward</mat-icon>
                </button> -->
              </div>
            </div>
        </div>
      </div>

    </div>
  </div>

  <!-- <p>{{this.addTapForm.value | json}} </p>-->
</div>

<ng-template #newTestModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">New Test</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="newTestCancelled()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="title">Jira Test Number</label>
      <input type="text" class="form-control" id="title" placeholder="Test title..." [(ngModel)]="newTestEditor.title"
        [ngClass]="{ 'is-invalid': newTestEditor.error }" (keyup.enter)="addTest()" />
      <div *ngIf="newTestEditor.error" class="invalid-feedback">
        {{ newTestEditor.error }}
      </div>
    </div>
    <div *ngIf="debug">
      <pre>{{ newTestEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button class="btn btn-default" (click)="newTestCancelled()">Cancel</button>
      <button class="btn btn-primary" (click)="addTest()">Create</button>
    </div>
  </div>
</ng-template>
