<!-- <div class="d-flex justify-content-center align-items-center temp"> -->
  <div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
      *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>


    
      <app-zapros (submitForm)="submitForm($event)"></app-zapros>
    


    <div class="example-table-container">
      <!-- <div class="mat-elevation-z8"> -->
      <table mat-table matTableExporter [dataSource]="data" class="example-table" #exporter="matTableExporter">
    
        <!-- Tap ID Column -->
        <!-- <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Tap ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container> -->
    
        <!-- Test Execution ID Column -->
        <ng-container matColumnDef="testExecutionId">
          <th mat-header-cell *matHeaderCellDef>Exe ID</th>
          <td mat-cell *matCellDef="let row"> {{row.testExecutionId}} </td>
        </ng-container>
    
        <!-- Test ID Column -->
        <!-- <ng-container matColumnDef="testId">
          <th mat-header-cell *matHeaderCellDef> Test ID </th>
          <td mat-cell *matCellDef="let row"> {{row.testId}} </td>
        </ng-container> -->
    
        <!-- JIRA Column -->
        <ng-container matColumnDef="jira">
          <th mat-header-cell *matHeaderCellDef>JIRA</th>
          <td mat-cell *matCellDef="let row"> {{row.jira}} </td>
        </ng-container>
    
        <!-- Stage Name Column -->
        <!-- <ng-container matColumnDef="stage">
          <th mat-header-cell *matHeaderCellDef> Stage Name </th>
          <td mat-cell *matCellDef="let row"> {{row.stage}} </td>
        </ng-container> -->
        
        <!-- Current Stage Column -->
        <!-- <ng-container matColumnDef="isCurrentStage">
          <th mat-header-cell *matHeaderCellDef> Current Stage </th>
          <td mat-cell *matCellDef="let row"> {{row.isCurrentStage}} </td>
        </ng-container> -->
        
        <!-- Card ID Column -->
        <!-- <ng-container matColumnDef="cardId">
          <th mat-header-cell *matHeaderCellDef> Card ID </th>
          <td mat-cell *matCellDef="let row"> {{row.cardId}} </td>
        </ng-container> -->
        
        <!-- Card Number Column -->
        <ng-container matColumnDef="cardNumber">
          <th mat-header-cell *matHeaderCellDef>Card</th>
          <td mat-cell *matCellDef="let row"> {{row.cardNumber}} </td>
        </ng-container>
        
        <!-- Card Alias Column -->
        <ng-container matColumnDef="cardAlias">
          <th mat-header-cell *matHeaderCellDef>Alias</th>
          <td mat-cell *matCellDef="let row"> {{row.cardAlias}} </td>
        </ng-container>
        
        <!-- Card Supplier Name Column -->
        <ng-container matColumnDef="cardSupplierName">
          <th mat-header-cell *matHeaderCellDef>Scheme</th>
          <td mat-cell *matCellDef="let row"> {{row.cardSupplierName}} </td>
        </ng-container>
        
        <!-- Device ID Column -->
        <!-- <ng-container matColumnDef="deviceId">
          <th mat-header-cell *matHeaderCellDef> Device ID </th>
          <td mat-cell *matCellDef="let row"> {{row.deviceId}} </td>
        </ng-container> -->
        
        <!-- Device Code Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let row"> {{row.action | TapActionEnum}} </td>
        </ng-container>
        
        <!-- Device Code Column -->
        <ng-container matColumnDef="deviceCode">
          <th mat-header-cell *matHeaderCellDef>PV Code</th>
          <td mat-cell *matCellDef="let row"> {{row.deviceCode}} </td>
        </ng-container>
        
        <!-- Device Name Column -->
        <ng-container matColumnDef="deviceName">
          <th mat-header-cell *matHeaderCellDef>PV Name</th>
          <td mat-cell *matCellDef="let row"> {{row.deviceName}} </td>
        </ng-container>
        
        <!-- Tester Column -->
        <ng-container matColumnDef="tester">
          <th mat-header-cell *matHeaderCellDef>Tester</th>
          <td mat-cell *matCellDef="let row"> {{row.tester | TesterName}} </td>
        </ng-container>
        
        <!-- Result Column -->
        <ng-container matColumnDef="result">
          <th mat-header-cell *matHeaderCellDef>Result</th>
          <td mat-cell *matCellDef="let row"> {{row.result | resultEnum}} </td>
        </ng-container>
        
        <!-- Was Result Expected Column -->
        <ng-container matColumnDef="wasResultExpected">
          <th mat-header-cell *matHeaderCellDef>Expected?</th>
          <td mat-cell *matCellDef="let row"> {{row.wasResultExpected | expectedEnum}} </td>
        </ng-container>
        
        <!-- Time Of Column -->
        <ng-container matColumnDef="timeOf2">
          <th mat-header-cell *matHeaderCellDef disableClear>Date</th>
          <td mat-cell *matCellDef="let row"> {{row.timeOf | date:'MMM d' :'UTC'}} </td>
        </ng-container>
        
        <!-- Time Of Column -->
        <ng-container matColumnDef="timeOf">
          <th mat-header-cell *matHeaderCellDef disableClear>Time</th>
          <td mat-cell *matCellDef="let row"> {{row.timeOf | date:'H:mm:ss':'UTC'}} </td>
        </ng-container>
        
        <!-- Fare Column -->
        <ng-container matColumnDef="fare">
          <th mat-header-cell *matHeaderCellDef>Fare</th>
          <td mat-cell *matCellDef="let row"> {{row.fare | currency}} </td>
        </ng-container>
        
        <!-- Balance Before Column -->
        <ng-container matColumnDef="balanceBefore">
          <th mat-header-cell *matHeaderCellDef>Before</th>
          <td mat-cell *matCellDef="let row"> {{row.balanceBefore | currency}} </td>
        </ng-container>
        
        <!-- Balance After Column -->
        <ng-container matColumnDef="balanceAfter">
          <th mat-header-cell *matHeaderCellDef>After</th>
          <td mat-cell *matCellDef="let row"> {{row.balanceAfter | currency}} </td>
        </ng-container>
        
        <!-- Notes Column -->
        <ng-container matColumnDef="notes">
          <th mat-header-cell *matHeaderCellDef>Notes</th>
          <td mat-cell *matCellDef="let row"> {{row.notes}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <!-- <mat-paginator [length]="resultsLength" [pageSize]="[10]" showFirstLastButtons></mat-paginator> -->
  </div>
  <div class="d-flex p-5 align-items-center justify-content-center">
    <button mat-raised-button color="accent" (click)="exporter.exportTable('csv')" disabled="{{this.resultsLength < 1}}">Export to CSV</button>
  </div>
<!-- </div> -->
